{% extends "app_noticias/base.html" %}

{% block titulo %}{{noticia.titulo}}{% endblock titulo %}

{% block conteudo %}
<h1>{{ noticia.titulo }}</h1>
<div>
    <img src="\media\117080_original_5184x3456.jpg" class="img-responsive">
</div>
<p>Por <strong>{{ noticia.autor }}</strong> em {{ noticia.data_de_publicacao }}</p>
<p>Tags:
    {% for tag in noticia.tags.all %}
        <a href="{% url "noticias_da_tag" tag.slug %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
<div>
    {{ noticia.conteudo | linebreaks }}
</div>
{% endblock conteudo %}